body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}

h1 {
  font-family: Rockwell, serif;
  font-size: 30px;
  color: black;
  font-weight: 500;
  margin: 0;
}

h2 {
  font-family: Rockwell, serif;
  font-size: 24px;
  color: black;
  font-weight: 500;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

.content {
  padding: 48px 60px;
}
