.navbar.navbar {
  box-sizing: border-box;
  height: 60px;
  width:100%;
  background-color: #3AAFA9;
  padding: 0 20px;
  color: white;
  flex-wrap: nowrap;

  .left {
    flex-wrap: nowrap;
  }

  .active {
    padding-bottom: 15px;
    font-weight: 600;
    border-bottom: 5px solid #FFB300;
  }

  a {
    text-decoration: none;
    color: white;
    letter-spacing: .25px;
    font-size: 16px;
  }
}